<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <a class="navbar-brand text-white" href="#">Admin </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/admin">All Products <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/admin/view-users">All Users</a>
                    </li>
                   
                    
                </ul>
                <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink text-white"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if admins}}
                    {{admins.Username}}
                        {{else}}
                     Account
                    {{/if}}

                </a>
                {{#if admins}}
                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                   
                    <a class="dropdown-item" href="/adminOut">LogOut</a>
                    {{/if}}
            </div>
        </nav>
    </header>