<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <img src="/images/orders.jpg" alt="erro">
                <h1 style="color: green;">Order Successful</h1>
                <p>Thank You for purchasing <b>{{user.Name}}</b></p>
            <a href="/order" class="btn btn-success">View MyOrders</a>
            </div>
        </div>
    </div>
</section>