<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Login</h2>
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="Nam"style="300px">Name</label>
                    <input type="text" class="form-control" name="Name" placeholder="Name" id="Nam">
                </div>
                <div class="form-group">
                    <label for="email"style="300px">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                </div>
                <div class="form-group ">
                        <label for="inputCity">Phone</label>
                        <input type="text" style="300px"name="Phone" class="form-control" id="inputCity">
                    </div>
                <div class="form-group">
                    <label for="Pass">Password</label>
                    <input type="password"style="300px" class="form-control" name="password" placeholder="Password" id="pass">
                </div>
                <a href="/login">Already have account</a>
                <button type="submit" class="btn btn-primary float-right">SignIn</button>
            </form>
        </div>
    </div>
</div>